<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1947 Indo-Pak War</title>

     <!-- main css for header and footer  -->
    <link rel="stylesheet" href="/static/main.css">
    <!-- additional css  -->
    <link rel="stylesheet" href="/static/war.css"

</head>

<body>
    <!-- NAVBAR SECTION -->
    <header>
        <nav>
            <ul class="navbar">
                <li id="items"><a href="index.html">Home</a></li>
                <li id="items"><a href="templates/about.html">About Us</a></li>
                <li id="items"><a href="templates/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <!-- sidebar -->
    <section class="sidebar">
        <span>Index</span>
        <ul id="index">
            <li><a href="#india-first">India's First War Hero</a></li>
            <li><a href="#about-the-war">About The War</a></li>
            <li><a href="#stages-of-war">Stages of the War</a>
                <ul id="index">
                    <li><a href="#indian-operation">Indian operation in the Kashmir Valley</a></li>
                    <li><a href="#attempt-linkup">Attempted link-up at Poonch and fall of Mirpur</a></li>
                    <li><a href="#fall-of-jhanger">Fall of Jhanger and attacks on Naoshera and Uri</a></li>
                    <li><a href="#operation-vijay">Operation Vijay</a></li>
                    <li><a href="#operation-bison-duck">Operation Bison & Duck</a></li>
                </ul>
            </li>
            <li><a href="#casualities">Casualities</a></li>
        </ul>
    </section>

    <!-- main content  -->
    <section id="main-content-box">
        <h2 id="main-heading">Indo-Pakistani War of 1947–1948</h2>
        <hr>
        <img src="/static/1947 Indo-Pak/img/intro.jpg" alt="error" id="intro-img">

        <!-- creaing section for each topic  -->
        <div class="para" id="india-first">
            <div class="heading">India's First War Hero</div>
            <p class="details">In the turmoil of Kashmir and the discord of Kashmiri politics, we often forget the service of independent India’s first war hero, Brigadier Rajinder Singh – the ‘Immortal Dogra’, also known as the ‘Saviour of Kashmir’
                <br>
                <br>
                Rajinder Singh gathered 110 soldiers and moved to Muzaffarabad to counter the invading force of over 6000 militia. The Brigadier used guerrilla tactics to delay their advance, blowing up the Uri bridge and stalling them in Mahura and Rampur, inflicting heavy casualties.
                For four days, Rajinder Singh and his brave jawans hindered the progress of the Pakistani invaders. This may have been the first time in contemporary military history where an Army chief personally led soldiers in combat.
                <br>
                <br>
                As Rajinder Singh and his men fought, on 26 October, Maharaja Hari Singh signed the Instrument of Accession joining the Union of India. The Indian military rushed in to back Rajinder Singh.
                However, just hours away from his position, the Brigadier was ambushed at Buniyar and fatally wounded. He had held fort and staggered the invaders long enough for the Indian Army to swoop in and push them back, saving thousands from a brutal onslaught.  
            </p>
        </div>

        <div class="para" id="about-the-war">
            <div class="heading">About the War</div>
            <p class="details">The Indo-Pakistani War of 1947–1948 or the First Kashmir War was an armed conflict that was fought between India and Pakistan over the state of Jammu and Kashmir from 1947 to 1948. It was the first of four Indo-Pakistani wars that was fought between the two newly-independent nations. Pakistan precipitated the war a few weeks after its independence by launching tribal lashkar (militias) from Waziristan, in an effort to capture Kashmir and to preempt the possibility of its ruler joining India. The inconclusive result of the war still affects the geopolitics of both the countries deeply as even as of now, relations between India and Pakistan.    
            </p>
        </div>

        <div class="para" id="stages-of-war">
            <div class="heading">Stages of the War</div>
            <p class="details">On 22 October the Pashtun tribal attack was launched in the Muzaffarabad sector. The state forces stationed in the border regions around Muzaffarabad and Domel were quickly defeated by tribal forces (Muslim state forces mutinied and joined them) and the way to the capital was open.
                <br>
                <div class="sub-heading" id="indian-operation">Indian operation in the Kashmir Valley</div>
                <div class="sub-details">After the accession, India airlifted troops and equipment to Srinagar under the command of Lt. Col. Dewan Ranjit Rai, where they reinforced the princely state forces, established a defence perimeter and defeated the tribal forces on the outskirts of the city. Initial defense operations included the notable defense of Badgam holding both the capital and airfield overnight against extreme odds. The successful defence included an outflanking manoeuvre by Indian armoured cars[101] during the Battle of Shalateng. The defeated tribal forces were pursued as far as Baramulla and Uri and these towns, too, were recaptured.</div>

                <div class="sub-heading" id="attempt-linkup">Attempted link-up at Poonch and fall of Mirpur</div>
                <div class="sub-details">Indian forces ceased pursuit of tribal forces after recapturing Uri and Baramula, and sent a relief column southwards, in an attempt to relieve Poonch. Although the relief column eventually reached Poonch, the siege could not be lifted. A second relief column reached Kotli, and evacuated the garrisons of that town and others but were forced to abandon it being too weak to defend it. Meanwhile, Mirpur was captured by the tribal forces on 25 November 1947 with the help of Pakistan's PAVO Cavalry.</div>

                <div class="sub-heading" id="fall-of-jhanger">Fall of Jhanger and attacks on Naoshera and Uri</div>
                <div class="sub-details">The tribal forces attacked and captured Jhanger. They then attacked Naoshera unsuccessfully, and made a series of unsuccessful attacks on Uri. In the south a minor Indian attack secured Chamb. By this stage of the war the front line began to stabilise as more Indian troops became available.</div>

                <div class="sub-heading" id="operation-vijay">Operation Vijay</div>
                <div class="sub-details">The Indian forces launched a counterattack in the south recapturing Jhanger and Rajauri. In the Kashmir Valley the tribal forces continued attacking the Uri garrison. In the north, Skardu was brought under siege by the Gilgit Scouts.</div>

                <div class="sub-heading" id="operation-bison-duck">Operation Bison & Duck</div>
                <div class="sub-details">During this time the front began to settle down. The siege of Poonch continued. An unsuccessful attack was launched by 77 Parachute Brigade (Brig Atal) to capture Zoji La pass. Operation Duck, the earlier epithet for this assault, was renamed as Operation Bison by Cariappa. M5 Stuart light tanks of 7 Cavalry were moved in dismantled conditions through Srinagar and winched across bridges while two field companies of the Madras Sappers converted the mule track across Zoji La into a jeep track.
                    The surprise attack on 1 November by the brigade with armour supported by two regiments of 25 pounders and a regiment of 3.7-inch guns, forced the pass and pushed the tribal and Pakistani forces back to Matayan and later Dras. The brigade linked up on 24 November at Kargil with Indian troops advancing from Leh while their opponents eventually withdrew northwards toward Skardu.  The Pakistani attacked the Skardu on 10 February 1948 which was repulsed by the Indian soldiers. Thereafter, the Skardu Garrison was subjected to continuous attacks by the Pakistan Army for the next three months and each time, their attack was repulsed by the Colonel Sher Jung Thapa and his men. Thapa held the Skardu with hardly 250 men for whole six long months without any reinforcement and replenishment. On 14 August Thapa had to surrender Skardu to the Pakistani Army and raiders after a year long siege.
                </div>    

                After protracted negotiations, both countries agreed to a cease-fire. The terms of the cease-fire, laid out in a UN Commission resolution on 13 August 1948,[116] were adopted by the Commission on 5 January 1949. This required Pakistan to withdraw its forces, both regular and irregular, while allowing India to maintain minimal forces within the state to preserve law and order. Upon compliance with these conditions, a plebiscite was to be held to determine the future of the territory.
            </p>
        </div>

        <div class="para" id="casualities">
            <div class="heading">Casualities</div>
            <p class="details">Indian losses in the war totalled 1,104 killed and 3,154 wounded; Pakistani, about 6,000 killed and 14,000 wounded. India gained control of about two-thirds of Kashmir; Pakistan, the remainder. Neutral assessments state India emerged victorious as it successfully defended most of the contested territory, including the Kashmir valley, Jammu, and Ladakh.</p>
        </div>

    </section>
</body>

</html>
