<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1947 Indo-Pak War</title>

    <!-- main css for header and footer  -->
    <link rel="stylesheet" href="/static/main.css">
    <!-- additional css  -->
    <link rel="stylesheet" href="/static/war.css">


</head>

<body>
    <!-- NAVBAR SECTION -->
    <header>
        <nav>
            <ul class="navbar">
                <li id="items"><a href="/index.html">Home</a></li>
                <li id="items"><a href="/templates/about.html">About Us</a></li>
                <li id="items"><a href="/templates/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <!-- sidebar -->
    <section class="sidebar">
        <span>Index</span>
        <ul id="index">
            <li><a href="#unsung-hero">The Unsung Hero of the Sino-Indian War</a></li>
            <li><a href="#exactly-happened">What exactly happened that Day</a></li>
            <li><a href="#why-the-war">Why The War</a></li>
            <li><a href="#about-the-war">About The War</a></li>
            <li><a href="#stages-of-war">Stages of War</a>
                <ul id="index">
                    <li><a href="#confrontation-at-thag-la">IConfrontation at Thag La</a></li>
                    <li><a href="#chinese-offensive">Chinese Offensive</a></li>
                    <li><a href="#negotiations">Negotiations</a></li>
                    <li><a href="#operation-vijay">Operation Vijay</a></li>
                </ul>
            </li>
            <li><a href="#casualities">Casualties & Aftermath</a></li>
        </ul>
    </section>

    <!-- main content  -->
    <section id="main-content-box">
        <h2 id="main-heading">Sino-Indo War of 1962</h2>
        <hr>
        <img src="/static/1962 Indo-Sino/intro.jpg" alt="error" id="intro-img">

        <!-- creaing section for each topic  -->
        <div class="para" id="unsung-hero">
            <div class="heading">The Unsung Hero of the Sino-Indian War</div>
            <p class="details">In 1962 Indo-China war, when the troops of Garhwal Rifles were given the command to return back from Battle of Nuranang, a Braveheart from Uttarakhand refused to leave the battle ground. He held the post and gave a tough time to Chinese soldiers with his dare-devilry. It is said that the brave Indian soldier had slain 300 Chinese soldiers with his rifle. And his name was Jaswant Singh Rawat.
                <br>
                <br>
                Aged only 21 at the time, Rifleman Jaswant Singh Rawat showed immense courage and wits. But due to the big number of enemies converging on his post it became impossible to fight back still determined and not wanting the Chinese troops to take even one more Indian casuality, he took his own life on 17th November 1962. He was given the highest honor India could bestow and gave him a Maha Vir Chakra.                
            </p>
        </div>

        <div class="para" id="exactly-happened">
            <div class="heading">What exactly happened that Day?</div>
            <p class="details">According to military records, Jaswant Singh Rawat along with Trilok Singh Negi and Gopal Singh Gusain was guarding the post. These 3 soldiers fell short to the massive army of Chinese. But this battle also claimed the lives of these 2 Indian soldiers. It is also said that Jaswant Singh Rawat was court martialled from the army for not following the orders of retreating back.
                <br>
                <br>
                He refrained from leaving his post and decided to single handedly confront the gigantic Chinese army. He was helped by two local Monpa girls – Sela and Nura who set up weapons at different places, creating an illusion that Indian soldiers were massive in numbers. Jaswant Singh Rawat along with Sela and Nura used to run at different spots and fire at the enemies.
                The attack of Jaswant was proving fatal for Chinese. They were clueless about the size of Indian army. But a betrayal proved fatal for Jaswant. The person who was supplying rations to Jaswant was caught by Chinese and he revealed all the details of Jaswant Singh Rawat and his two comrades – Sela and Nura. Jaswant’s life was about to come to end. With a vengeance, the Chinese army retaliated in which Sela was killed in a grenade burst. Legends also says that Sela died by jumping off from the cliff to avoid getting captured by Chinese. Sela had an emotional corner for Jaswant and it was her love for Jaswant that she fought till her last breath. In this battle for nation, even Nura was killed by the Chinese. Jaswant fought with the Chinese army, but this time the luck was not in his favor. He was killed by the Chinese soldiers.
                <br>
                <br>
                Today business tycoons, politicians and celebrities spend lakhs of money lavishly on their children’s wedding whereas there are still war widows who wait for the pension of Rs. 3000 from the government. Irony is that today’s young masses are rich enough to buy expensive iPhones but are so poor  that they can’t afford to even pay respects or even drop a little charitable money for their own nation’s Defence Fund.  People cheer for cricketers and celebrities but never for their forgotten war heroes like Jaswant Singh Rawat.
                <br>
                <br>
                Our War Heroes will only be remembered through stories from generation to generation as long as these are told only then will our heroes remain remembered.                      
            </p>
        </div>

        <div class="para" id="why-the-war">
            <div class="heading">Why the war</div>
            <p class="details">The main cause of the war was a dispute over the sovereignty of the widely separated Aksai Chin and Arunachal Pradesh border regions. Aksai Chin, claimed by India to belong to Ladakh and by China to be part of Xinjiang, contains an important road link that connects the Chinese regions of Tibet and Xinjiang. China's construction of this road was one of the triggers of the conflict.
            </p>
        </div>

        <div class="para" id="about-the-war">
            <div class="heading">About the war</div>
            <p class="details">A disputed Himalayan border was the main cause of the war. There had been a series of violent border skirmishes between the two countries after the 1959 Tibetan Uprising, when India granted asylum to the Dalai Lama. India initiated a defensive Forward Policy  from 1960 to hinder Chinese military patrols and logistics, in which it placed outposts along the border, including several north of the McMahon Line, the eastern portion of the line of actual control proclaimed by Chinese Premier Zhou Enlai in 1959.
                <br>
                <br>
                Chinese military action grew increasingly aggressive after India rejected proposed Chinese diplomatic settlements throughout 1960–1962, with China re-commencing previously-banned "forward patrols" in Ladhakh from 30 April 1962. China finally abandoned all attempts of peaceful resolution on 20 October 1962, invading disputed territory along the 3,225 kilometres (2,004 mi) long Himalayan border in Ladakh and across the McMahon Line.                
            </p>
        </div>

        <div class="para" id="stages-of-war">
            <div class="heading">Stages of the War</div>
            <p class="details">On 22 October the Pashtun tribal attack was launched in the Muzaffarabad sector. The state forces stationed in the border regions around Muzaffarabad and Domel were quickly defeated by tribal forces (Muslim state forces mutinied and joined them) and the way to the capital was open.
                <br>
                <div class="sub-heading" id="confrontation-at-thag-la">Confrontation at Thag La</div>
                <div class="sub-details">In June 1962, Indian forces established an outpost called the Dhola Post in the Namka Chu  valley to the south of the Thag La Ridge. The Dhola Post lay north of the map-marked McMahon Line but south of the ridges along which India interpreted the McMahon Line to run.In August, China issued diplomatic protests and began occupying positions at the top of Thag La. On 8 September, a 60-strong PLA unit descended to the south side of the ridge and occupied positions that dominated one of the Indian posts at Namka Chu. Fire was not exchanged, but Nehru told the media that the Indian Army had instructions to "free our territory" and the troops had been given discretion to use force. On 11 September, it was decided that "all forward posts and patrols were given permission to fire on any armed Chinese who entered Indian territory".</div>

                <div class="sub-heading" id="chinese-offensive">Chinese Offensive</div>
                <div class="sub-details">On 20 October 1962, the PLA launched two attacks, 1,000 kilometres (620 mi) apart. In the western theatre, the PLA sought to expel Indian forces from the Chip Chap valley in Aksai Chin while in the eastern theatre, the PLA sought to capture both banks of the Namka Chu river. Some skirmishes also took place at the Nathula Pass, which is in the Indian state of Sikkim (an Indian protectorate at that time). Gurkha rifles travelling north were targeted by Chinese artillery fire. After four days of fierce fighting, the three regiments of Chinese troops succeeded in securing a substantial portion of the disputed territory.</div>

                <div class="sub-heading" id="negotiations">Negotiation</div>
                <div class="sub-details">The tribal forces attacked and captured Jhanger. They then attacked Naoshera unsuccessfully, and made a series of unsuccessful attacks on Uri. In the south a minor Indian attack secured Chamb. By this stage of the war the front line began to stabilise as more Indian troops became available.</div>

                <div class="sub-heading" id="operation-vijay">Operation Vijay</div>
                <div class="sub-details">The Indian forces launched a counterattack in the south recapturing Jhanger and Rajauri. In the Kashmir Valley the tribal forces continued attacking the Uri garrison. In the north, Skardu was brought under siege by the Gilgit Scouts.</div>
            </p>
        </div>

        <div class="para" id="casualities">
            <div class="heading">Casualties & Aftermath</div>
            <p class="details">722 Chinese troops were killed in action with 1,697 wounded.
                According to the China's official military history, the war achieved China's policy objectives of securing borders in its western sector, as China retained de facto control of the Aksai Chin. After the war, India abandoned the Forward Policy, and the de facto borders stabilised along the line of actual control.
                <br>
                <br>
                1,383 Indian troops were killed with 1,696 missing and approximately 1,047 wounded, but the bone chilling fact was that 3,968 Indian troops were captured by the Chinese.
                <br>
                <br>
                The aftermath of the war saw sweeping changes in the Indian military to prepare it for similar conflicts in the future, and placed pressure on Nehru, who was seen as responsible for failing to anticipate the Chinese attack on India. Indians reacted with a surge in patriotism and memorials were erected for many of the Indian troops who died in the war. Arguably, the main lesson India learned from the war was the need to strengthen its own defences and a shift from Nehru's foreign policy with China based on his stated concept of "brotherhood". Because of India's inability to anticipate Chinese aggression, Nehru faced harsh criticism from government officials, for having promoted pacifist relations with China.
                
            </p>
        </div>


    </section>
</body>

</html>