<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1947 Indo-Pak War</title>

    <!-- main css for header and footer  -->
    <link rel="stylesheet" href="/static/main.css">
    <!-- additional css  -->
    <link rel="stylesheet" href="/static/war.css">


</head>

<body>
    <!-- NAVBAR SECTION -->
    <header>
        <nav>
            <ul class="navbar">
                <li id="items"><a href="/index.html">Home</a></li>
                <li id="items"><a href="/templates/about.html">About Us</a></li>
                <li id="items"><a href="/templates/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <!-- sidebar -->
    <section class="sidebar">
        <span>Index</span>
        <ul id="index">
            <li><a href="#forgotten-footsoldier">The forgotten footsoldier</a></li>
            <li><a href="#what-happened">What Happened That Day</a></li>
            <li><a href="#why-the-war">Why The War</a></li>
            <li><a href="#stages-of-war">Stages of war</a>
                <ul id="index">
                    <li><a href="#aerial-warfare">Aerial Warfare/a></li>
                    <li><a href="#tank-battles">Tank Battles</a></li>
                    <li><a href="#covert-ops">Covert Ops</a></li>
                </ul>
            </li>
            <li><a href="#ceasefire">Ceasefire</a></li>
            <li><a href="#casualties">Casualties & Aftermath</a></li>
        </ul>
    </section>

    <!-- main content  -->
    <section id="main-content-box">
        <h2 id="main-heading">Indo-Pakistani War of 1965</h2>
        <hr>
        <img src="/static/1965 Indo-Pak/intro.jpg" alt="error" id="intro-img">

        <!-- creaing section for each topic  -->
        <div class="para" id="forgotten-footsoldier">
            <div class="heading">The forgotten footsoldier</div>
            <p class="details">Company Quartermaster Havildar Abdul Hamid Masoodi, PVC (1 July 1933 – 10 September
                1965), was an Indian Army soldier who posthumously received India's highest military decoration, the
                Param Vir Chakra, for his actions during the Indo-Pakistani War of 1965.
                <br>
                <br>
                Hamid Masoodi joined the army in December 1954, and was posted to the 4th Battalion of the Grenadiers
                regiment. During the Sino-Indian War, his battalion participated in the battle of Namka Chu against the
                People's Liberation Army. During the Indo-Pakistani War of 1965, the 4 Grenadiers battalion was
                entrusted with a vital position before the village of Chima on the Khem Karan–Bhikhiwind line. At the
                Battle of Asal Uttar on 9–10 September 1965, Hamid Masoodi destroyed eight Pakistani tanks and was
                martyred destroying the ninth tank.

            </p>
        </div>

        <div class="para" id="what-happened">
            <div class="heading">What Happened That Day</div>
            <p class="details">4 Grenadiers arrived at midnight on 7–8 September, and had dug 3-foot (0.91 m) trenches
                by dawn. At 7:30 am they heard the first rumbles of Pakistani tanks, which straddled the road an hour
                and a half later. Hamid led the vehicle-mounted recoilless rifle (RCLR) detachment of his battalion. The
                battalion held their fire until a tank 30 feet (9.1 m) away was hit by Hamid with his RCL gun, and
                Pakistani soldiers in the two following tanks fled. The Indians experienced artillery shelling at 11:30
                am, followed by another armour attack. Hamid knocked out another tank, and the Pakistani soldiers in the
                following tanks again fled. By the end of the day, an engineering company had laid anti-personnel and
                anti-tank mines around the Grenadiers' position.
                <br>
                <br>
                A captured Pakistani M-48 Patton tank at Cavalry Tank
                Museum, Ahmednagar. Their battalion was attacked by Pakistani Sabre jets at 9:00 am on 9 September, with
                mass casualties. The Pakistanis made armoured attacks at 9:30, 11:30 am and 2:30 pm. By the evening,
                Hamid had knocked out four tanks. The battalion destroyed a total of 13 tanks, and many were abandoned.
                The Indians withdrew a squadron of Sherman tanks, which were ineffective against the Pakistani Patton
                tanks. Centurion tanks were also withdrawn to deploy them in a position more suitable for a tank battle.
                As a result, the 4 Grenadiers were left with only RCL guns and mines. On 10 September at about 8:00 am
                the first wave of three tanks, one leading and the other two following at a 200-yard (180 m) distance,
                arrived. Hamid knocked out another tank with his RCL gun. 
                <br>
                <br>
                The Pakistanis attacked again with increased
                artillery support at 9:00 am, and Hamid destroyed another tank. Since his open jeep was vulnerable to
                the shelling, he moved to another position and ordered his men to take cover. Hamid and a Pakistani tank
                soon spotted each other. Alone and unable to change his position, he fired at the tank as it fired at
                him and he was killed instantly. The battalion suppressed further attacks by the Pakistanis, and the
                battle was a decisive Indian victory.
            </p>
        </div>
        <div class="para" id="why-the-war">
            <div class="heading">Why The War</div>
            <p class="details">Since the Partition of British India in 1947, Pakistan and India remained in contention
                over several issues. Although the Kashmir conflict was the predominant issue dividing the nations, other
                border disputes existed, most notably over the Rann of Kutch, a barren region in the Indian state of
                Gujarat. The issue first arose in 1956 which ended with India regaining control over the disputed area.
                Pakistani patrols began patrolling in territory controlled by India in January 1965, which was followed
                by attacks by both countries on each other's posts on 8 April 1965.
            </p>
        </div>

        <div class="para" id="stages-of-war">
            <div class="heading">Stages of war</div>
            <p class="details">
            <div class="sub-heading" id="aerial-warfare">Aerial Warfare</div>
            <div class="sub-details">The war saw aircraft of the Indian Air Force (IAF) and the Pakistan Air Force (PAF)
                engaging in combat for the first time since independence. Although the two forces had previously faced
                off in the First Kashmir War during the late 1940s, that engagement was very limited in scale compared
                to the 1965 conflict. The IAF was flying large numbers of Hawker Hunters, Indian-manufactured Folland
                Gnats, de Havilland Vampires, EE Canberra bombers and a squadron of MiG-21s. The PAF's fighter force
                comprised 102 F-86F Sabres and 12 F-104 Starfighters, along with 24 B-57 Canberra bombers. During the
                conflict, the PAF claimed it was out-numbered by around 5:1. The PAF's aircraft were largely of American
                origin, whereas the IAF flew an assortment of British and Soviet aeroplanes. However, the PAF's American
                aircraft were superior to those of the IAF's.</div>
            <div class="sub-heading" id="tank-battles">Tank Battles</div>
            <div class="sub-details">The 1965 war witnessed some of the largest tank battles since World War II. At the
                beginning of the war, the Pakistani Army had both a numerical advantage in tanks, as well as better
                equipment overall. Pakistani armour was largely American-made; it consisted mainly of Patton M-47 and
                M-48 tanks, but also included many M4 Sherman tanks, some M24 Chaffee light tanks and M36 Jackson tank
                destroyers, equipped with 90 mm guns. The bulk of India's tank fleet were older M4 Sherman tanks; some
                were up-gunned with the French high velocity CN 75 50 guns and could hold their own, whilst some older
                models were still equipped with the inferior 75 mm M3 L/40 gun. Besides the M4 tanks, India fielded the
                British-made Centurion Tank Mk 7, with the 105 mm Royal Ordnance L7 gun, and the AMX-13, PT-76, and M3
                Stuart light tanks. Pakistan fielded a greater number and more modern artillery; its guns out-ranged
                those of the Indian artillery, according to Pakistan's Major General T.H. Malik.</div>

            <div class="sub-heading" id="covert-ops">Covert Ops</div>
            <div class="sub-details">The Pakistan Army launched a number of covert operations to infiltrate and sabotage
                Indian airbases.[112] On 7 September 1965, the Special Services Group (SSG) commandos were parachuted
                into enemy territory. According to Commander-in-Chief of the Pakistan Army General Muhammad Musa, about
                135 commandos were airdropped at three Indian airfields (Halwara, Pathankot and Adampur).
                The daring attempt proved to be an "unmitigated disaster".[112] Only 22 commandos returned to Pakistan
                as planned, 93 were taken prisoner (including one of the Commanders of the operations, Major Khalid
                Butt), and 20 were killed in encounters with the army, police or civilians.[citation needed] The reason
                for the failure of the commando mission is attributed to the failure to provide maps, proper briefings
                and adequate planning or preparation
            </div>
            </p>
        </div>

        <div class="para" id="ceasefire">
            <div class="heading">Ceasefire</div>
            <p class="details">On 20 September, the United Nations Security Council unanimously passed a resolution,
                which noted that its previous two resolutions went "unheeded" and now demanded an unconditional
                ceasefire from both nations within 48 hours. India immediately accepted, while Pakistan accepted it on
                23 September.</p>
        </div>

        <div class="para" id="casualties">
            <div class="heading">Casualties & Aftermath</div>
            <p class="details">Army: 169 commissioned officers (1 brigadier, 9 lieutenant-colonels, 30 majors, 39
                captains, 11 lieutenants, 79 second lieutenants), 80 junior commissioned officers (JCO), 1,820 other
                ranks
                Air force: 19 officers, 21 other ranks
                After the war efforts, India succeeded in capturing 3,900 sq. Kms of Pakistani territory.
                Despite the declaration of a ceasefire, India was perceived as the victor due to its success in halting
                the Pakistan-backed insurgency in Kashmir.
                <br>
                Pakistan
                While the Pakistan claims return empty, independent sources claim that approximately 3,800 Pakistani
                soldiers surrendered their lives in this war.
                After Pakistan’s war efforts, Pakistan could only capture 650 sq. Kms of Indian Territory.
                At the conclusion of the war, many Pakistanis considered the performance of their military to be
                positive. 6 September is celebrated as Defence Day in Pakistan, in commemoration of the successful
                defence of Lahore against the Indian army. The performance of the Pakistani Air Force, in particular,
                was praised.
            </p>
        </div>
    </section>
</body>

</html>