<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <!-- NAVBAR SECTION -->
    <header>
        <nav>
            <ul class="navbar">
                <li id="items"><a href="/index.html">Home</a></li>
                <li id="items"><a href="/templates/about.html">About Us</a></li>
                <li id="items"><a href="/templates/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <h2 id="heading">About Us</h2>

    <!-- creating box to dispaly about us info  -->
    <div class="about-box">
        <img src="/static/img/profile.jpg" alt="">
        <div>
            <h2 class="name">Lorem ipsum dolor</h2>
            <p class="bio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere reprehenderit
                iste eius delectus ratione assumenda repellat sed culpa obcaecati! Doloribus eaque in sed vitae nihil ad
                consequuntur, asperiores iure excepturi, minima nobis similique atque molestias accusantium impedit.
                Aliquam dolores, minus natus maxime commodi eaque velit magni illum error iusto dicta nemo, autem veniam
                sequi corrupti qui distinctio, minima unde? Rem maxime commodi quaerat ratione iste dignissimos fugit
                perferendis cumque impedit. Tempore facilis, fuga minus ab officiis sed perspiciatis alias.</p>
        </div>
    </div>
    <div class="about-box">
        <img src="/static/img/profile.jpg" alt="">
        <div>
            <h2 class="name">Lorem ipsum dolor</h2>
            <p class="bio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere reprehenderit
                iste eius delectus ratione assumenda repellat sed culpa obcaecati! Doloribus eaque in sed vitae nihil ad
                consequuntur, asperiores iure excepturi, minima nobis similique atque molestias accusantium impedit.
                Aliquam dolores, minus natus maxime commodi eaque velit magni illum error iusto dicta nemo, autem veniam
                sequi corrupti qui distinctio, minima unde? Rem maxime commodi quaerat ratione iste dignissimos fugit
                perferendis cumque impedit. Tempore facilis, fuga minus ab officiis sed perspiciatis alias.</p>
        </div>
    </div>
    <div class="about-box">
        <img src="/static/img/profile.jpg" alt="">
        <div>
            <h2 class="name">Lorem ipsum dolor</h2>
            <p class="bio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere reprehenderit
                iste eius delectus ratione assumenda repellat sed culpa obcaecati! Doloribus eaque in sed vitae nihil ad
                consequuntur, asperiores iure excepturi, minima nobis similique atque molestias accusantium impedit.
                Aliquam dolores, minus natus maxime commodi eaque velit magni illum error iusto dicta nemo, autem veniam
                sequi corrupti qui distinctio, minima unde? Rem maxime commodi quaerat ratione iste dignissimos fugit
                perferendis cumque impedit. Tempore facilis, fuga minus ab officiis sed perspiciatis alias.</p>
        </div>
    </div>
    <div class="about-box">
        <img src="/static/img/profile.jpg" alt="">
        <div>
            <h2 class="name">Lorem ipsum dolor</h2>
            <p class="bio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere reprehenderit
                iste eius delectus ratione assumenda repellat sed culpa obcaecati! Doloribus eaque in sed vitae nihil ad
                consequuntur, asperiores iure excepturi, minima nobis similique atque molestias accusantium impedit.
                Aliquam dolores, minus natus maxime commodi eaque velit magni illum error iusto dicta nemo, autem veniam
                sequi corrupti qui distinctio, minima unde? Rem maxime commodi quaerat ratione iste dignissimos fugit
                perferendis cumque impedit. Tempore facilis, fuga minus ab officiis sed perspiciatis alias.</p>
        </div>
    </div>
    

</body>

</html>